body{
    overflow-x: hidden;
    margin:0;
    padding:0;
}
.my-button{
    border: 1px solid #63b9ef;
    color: #63b9ef;
}
.my-button:hover{
    background: linear-gradient(45deg,#63b9ef,#3586bb);
    border: 1px solid #3586bb;
}
.top-bar{
    background: linear-gradient(180deg,#63b9ef,#3586bb);
    padding: .6rem;
}
.top-bar a{
    text-align: center;
}
.transparet-bg{
    background: linear-gradient(45deg,#63b9ef7c,#3585bb57);
}
.top-banner{
    height: 26rem;
    background: linear-gradient(45deg,#63b9ef,#1870aa9b);
}

.banner-bottom{
    padding: 1.5em 0;
    background-color: #484d54;
    color: #fff;
    text-align: center;
}

.softwar-research{
    margin: 3rem ;
}
.softwar-research h4{
    color: #4baae0;
    padding: .4rem 0;
}
.trusted-by{
    margin-top:2rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f0f0f0;
}
.categories{
    height: 37rem;
    background-color: white;
    padding: 2rem 1rem;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 2px 12px  #ddd;
}
.categories li{
    list-style-type: none;
    padding: .3rem 0;
    color: #63b9ef;
    font-size: 1.1rem;
}
.business-tools-row{
    display: flex;
}
.single-tools{ 
    width: 30%;
    margin: 2rem .5rem;
    padding: 0;
    height: 20rem;
    box-shadow: 0 2px 12px  #ddd;
}

.single-tools .card img{
    height: 7.4rem;
}
.single-tools .card h5{ height: 2.5rem;
}
.single-tools .card p{
    height: 2rem;
    font-size: 1rem;
    margin-top:.8rem;
}
.single-tools .card-footer {
  background: none;
  border: none;
}
.reviews .card-body h5{
    font-size: 1rem;
}
.reviews .card-body p{
    font-size: .9rem;
}
.reviews  .card {

    box-shadow: 0 2px 12px  #ddd;
}

 .reviews .card-footer img{
    width: 3rem;
    height: 3rem;
}
.reviews .card-footer{
    background-color: #f0f0f0;
}


/* -------------------- conter --------------------------- */

.count{
  color:white;
  font-size:3rem;
}
.counter{
    background-color: #63b9ef;
    font-weight: 700;
    text-align: center;
}
.counter h1{
    font-size: 3rem;
    font-weight: 700;
}
.counter .row p { 
    color:white;
    font-size: 1.2rem;
    text-align: center;
}

/* -------------------- conter --------------------------- */


/*--------------------- footer ------------------------- */
.footer{
    background-color: #36393e;
    padding: 2rem 1rem;
}
.footer h1{
    color: white;
}
.footer h4{
    font-size: 1.1rem;
    color: white;
}
.footer p{
    font-size: .9rem;
    color: #cecece;
}

/* ---------------------footer -------------------------- */